<!-- sidebar.html -->
<div id="sidebar" class="bg-dark">
    <!-- Bouton Toggle Sidebar -->
    <button id="toggle-btn" class="btn btn-primary">
        <i id="toggle-icon" class="bi bi-chevron-left"></i>
    </button>

    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <div class="photo-profil ms-4 mb-2 mt-4">
                <img  
                     class="rounded-5 d-none d-md-block" 
                     alt="Profil" style="max-width: 80%; max-height: 150px;">
            </div>
        </li>
        <li class="nav-item mb-2">
            <div class="pseudo">
                <h2 class="text-primary ms-4 mt-4" id="sidebar-pseudo"></h2>
            </div>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/statistiques">
                <i class="bi bi-bar-chart-line-fill fs-5"></i>
                <span class="fs-5 ms-2">Statistiques</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/dossiers">
                <i class="bi bi-folder-fill fs-5"></i>
                <span class="fs-5 ms-2">Dossiers</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/attributions">
                <i class="bi bi-app-indicator fs-5"></i>
                <span class="fs-5 ms-2">Attributions</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/gep">
                <i class="bi bi-calculator"></i>
                <span class="fs-5 ms-2">GEP</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/plu">
                <i class="bi bi-map-fill"></i>
                <span class="fs-5 ms-2">PLU</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/communes">
                <i class="bi bi-layers-fill fs-5"></i>
                <span class="fs-5 ms-2">Communes</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="/courriers">
                <i class="bi bi-envelope-fill fs-5"></i>
                <span class="fs-5 ms-2">Courriers</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center" href="#">
                <i class="bi bi-journal-richtext fs-5"></i>
                <span class="fs-5 ms-2">Supports</span>
            </a>
        </li>
    </ul>
</div>
<script src="public/assets/js/script.js" defer></script>
