<!-- sidebar.html -->
<div id="sidebar" class="bg-secondary">
    <!-- Bouton Toggle Sidebar -->
    <button id="toggle-btn" class="btn btn-primary">
        <i id="toggle-icon" class="bi bi-chevron-left"></i>
    </button>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#" onclick="setActive(this)">
                <i class="bi bi-bar-chart-line-fill fs-5"></i>
                <span class="fs-5 ms-2">Statistiques</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#" onclick="setActive(this)">
                <i class="bi bi-people-fill fs-5"></i>
                <span class="fs-5 ms-2">Utilisateurs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#" onclick="setActive(this)">
                <i class="bi bi-folder-fill fs-5"></i>
                <span class="fs-5 ms-2">Dossiers</span>
            </a>
        </li>
    </ul>
</div>
